.filter {
    flex: .5;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;

    & legend {
        padding: 0 10px;
        letter-spacing: 0.5rem;
    }

    & input {
        width: 100%;
        background-color: grey;
        color: white;
        padding: 2px;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
        }
    }
}